* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

img.logo {
    display: flex;
    justify-items: flex-start;
    margin-top: 35px;
    width: 90px;
    border-radius: 10px;
}

img.logo:hover {
    animation: action 2s;
}

@keyframes action {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.hat {
    display: flex;
    justify-items: flex-start;
    flex-flow: row;
}
.nameholder {
    display: flex;
    justify-items: flex-start;
    flex-flow: row;
    width: 200px;

}

.mainmenu a {
    display: inline;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(231, 167, 236);
}

.mainmenu ul {
    position: relative;
    margin-top: 82px;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline;
    
}

.mainmenu li :hover {
    text-decoration: underline;
    color: rgb(80, 65, 218);
}

.mainmenu :active {
    text-decoration: none;
    color: rgb(231, 167, 236);
}

#name {
    position: absolute;
    left: 160px;
    top: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: 145%;
    font-weight: bolder;
    color: rgb(80, 65, 218);
}

#foto {
    display: flex;
    justify-items: flex-start;
    margin-top: 75px;
    margin-left: 55px;
    width: 30%;
    border-radius: 25px;
}

.description {
    display: flex;
    justify-items: flex-start;
    width: 800px;
    margin-left: 120px;
    font-family: 'Red Hat Mono', monospace;
    text-align: left;
}

.hello-window {
    display: flex;
    justify-items: flex-start;
    height: 350px;
}

.saying-hi {
    position: absolute;
    margin-top: 9%;
    margin-left: 23%;
    font-family: 'Red Hat Mono', monospace;
    font-size: 120%;
    font-weight: bolder;
    color: rgb(80, 65, 218);
}

#image {
    position: absolute;
    top: 77%;
    left: 13%;
}

.contacts_menu a {
    display: inline;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(80, 65, 218);
}

.contacts_menu {
    margin-left: 850px;
    margin-top: 55px;
    list-style: none;
}

.contacts_menu li {
    display: inline
}

.down_menu {
    padding-bottom: 28px;
    width: 100%;
}

.down_menu li :hover {
    text-decoration: underline;
    color: rgb(231, 167, 236);
}